{% extends "layout.html" %}

{% block content %}
	<div class="container" id="app">

		<div class="row">

			<form method="post" name="CreateArticle" id="createArticleForm" class="col s6 offset-s3">

				[[ form.hidden_tag() ]]

				<div class="row">
					[[ form.title.label ]] [[ form.title(placeholder="This is where your post's title goes...", autocomplete="off") ]]
				</div>

				<div class="row">
					[[ form.content.label(class_='test') ]] 
					[[ form.content(class_="materialize-textarea", placeholder="This is where your post's content goes...", autocomplete="off") ]]
				</div>

				<div class="row">
					<button class="btn waves-effect waves-light" type="submit">Submit
						<i class="material-icons right">send</i>
					</button>
				</div>

			</form>

		</div>

	</div>
{% endblock %}

{% block static %}
	<script src="[[url_for('static', filename='create.js')]]"></script>
{% endblock %}